@import url("https://fonts.googleapis.com/css2?family=Chivo+Mono&display=swap");

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  background-color: black;
  color: floralwhite;
  font-family: "Chivo Mono", monospace;
  margin: 0;
}

canvas {
  width: 100vw;
  height: 100vh;
  z-index: -2;
  position: fixed;
  top: 0%;
}

#start {
  width: 100vw;
  height: 100vh;
}

.purple {
  color: blueviolet;
}

.highlight {
  color: blueviolet;
  background-color: hsl(271, 76%, 6%);
  border-radius: 10px;
}

#row3 {
  position: absolute;
  bottom: 0%;
  transform: translateX(calc(50vw - 50%));
}

#title {
  margin-left: 10vw;
  transform: translateY(calc(40vh - 50%));
}

#about {
  /* padding-top: 10vh; */
}

.title {
  text-align: center;
  margin-bottom: 10vh;
}

.paragraph {
  /* margin-left: 10vw; */
  /* margin-right: 10vw; */
}

#contact {
  width: 100vw;
  padding: 2vh;
  background-color: rgba(15, 0, 20, 0.75);
  border-radius: 10px 10px 0 0;
  text-align: center;
}

.article {
  margin-left: 10vw;
  margin-right: 10vw;
  margin-top: 10vh;
  width: 80vw;
  padding: 2vh;
  border-radius: 15px;
  background-color: hsla(271, 76%, 30%, 0.25);
}
