@import url("https://fonts.googleapis.com/css2?family=Chivo+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chivo&display=swap");

::selection {
  background-color: rgba(138, 43, 226, 0.5);
}

.highlight::selection {
  text-decoration: underline rgba(255, 250, 240, 1) 0.1em;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  background-color: black;
  color: floralwhite;
  /* font-family: "Chivo Mono", monospace; */
  font-family: "Chivo", monospace;
  margin: 0;
}

canvas {
  width: 100vw;
  height: 100vh;
  z-index: -2;
  position: fixed;
  top: 0%;
}

#start {
  width: 100vw;
  height: 100vh;
}

.purple {
  color: blueviolet;
}

.highlight {
  color: blueviolet;
  background-color: hsl(271, 76%, 6%);
  border-radius: 0.5ex;
}

#row3 {
  position: absolute;
  bottom: 0%;
  transform: translateX(calc(50vw - 50%));
}

#title {
  margin-left: 10vw;
  transform: translateY(calc(40vh - 50%));
}

.title {
  text-align: center;
  margin-bottom: 7.5vh;
  margin-top: 0;
}

#contact {
  width: 100vw;
  padding: 2vh 0 2vh 0;
  background-color: rgba(15, 0, 20, 0.75);
  border-radius: 10px 10px 0 0;
  text-align: center;
  margin-top: 10vh;
}

#contactlinks {
  margin-top: 2vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 4vw;
  row-gap: 2vh;
}

.contactlink {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 3vw;
  text-decoration: inherit;
  color: inherit;
  font-size: smaller;
  text-align: center;
}

.contactlink > img {
  width: 100%;
  margin-bottom: 1vh;
}

#footer {
  text-align: right;
  background-color: black;
  color: darkgrey;
  font-size: 0.75em;
  padding-right: 1vw;
  padding-left: 1vw;
  display: flex;
  width: 98vw;
  justify-content: flex-end;
}

#version {
  width: fit-content;
  text-align: right;
}

.article {
  margin-left: 10vw;
  margin-right: 10vw;
  margin-top: 10vh;
  width: 80vw;
  padding: 4vh;
  border-radius: 15px;
  background-color: hsla(271, 76%, 30%, 0.25);
}

.paragraph {
  margin-top: 3%;
  color: #fffaf0;
}

.image-container {
  cursor: default;
  position: relative;
  overflow: hidden;
  /* max-width: 40vw; */
  align-self: center;
}

.project {
  display: flex;
  flex-direction: column;
  background-color: hsla(271, 76%, 30%, 0.25);
  border-radius: 15px;
  padding: 3%;
  max-width: 42.5%;
  min-width: 400px;
  gap: 1.5vh;
  position: relative;
}

.featured > .project {
  max-width: none;
}

.featured > .project > .image-container {
  max-width: 40vw;
}

.project-image {
  width: 100%;
  border-radius: 10px;
}

.showoff {
  margin-top: 3%;
  display: flex;
  column-gap: 3%;
  row-gap: 2.5vw;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
}

.project-buttons {
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  /* cursor: pointer; */
}

.project-buttons > a {
  text-decoration: inherit;
  color: inherit;
  padding: 3%;
  background-color: hsl(271, 76%, 6%);
  border-radius: 10px;
  color: blueviolet;
  text-align: center;
  flex-grow: 1;
  max-width: 25%;
}

.project-buttons > a::selection {
  text-decoration: underline rgba(255, 250, 240, 1) 0.1em;
}

.projectTitle {
  display: flex;
  justify-content: center;
}

.projectTitle > h1 {
  width: fit-content;
  padding-left: 0.5ex;
  padding-right: 0.5ex;
  margin-top: 0;
}

.status-banner {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 5;
  width: 10vw;
  filter: drop-shadow(0 0 10px black);
}
